page-stock-jewelry-detail {
    .img-ring-header {
        width: 70%;
        height: 100%;
        object-fit: contain;
    }

    .main-container {
        .top-container {
            .top-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .detail-title {
                    font-size: 20px;
                    color: #8f8671;
                    font-weight: bold;
                    margin-top: 8px;
                }

                .icon-container {
                    flex-direction: row;
                    display: flex;
                }

                ion-buttons button{
                    background: transparent;
                }
                button.share-btn {
                    color: #baaf84;
                    font-size: 18px;
                    width: 30px;
                    
                }
                .share-btn {
                    box-shadow: none;
                    background: transparent;
                }
            }

            .slider-container {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                // height: 250px;
                
                .left-slider-container {
                    width: 85%;
                    
                    .slider-contain {
                        width: 100%;
                    }
                } 

                .right-slider-container {
                    width: 15%;
                    
                    text-align: center;
                    overflow: scroll;
                    
                    img {
                        width: 80%;
                        margin: 5px 0;
                        max-height: 30%;
                    }
                }
            }
        }

        .edit-fields {
            text-decoration: underline;
            color: #0000ff;
        }

        .col-40 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 44.33333%;
            -ms-flex: 0 0 44.33333%;
            flex: 0 0 44.33333%;
            width: 44.33333%;
            max-width: 44.33333%;
        }

        .bottom-container {
            .bottom-top-container {
                display: flex;
                justify-content: space-between;
                margin: 15px 0;

                .price-txt {
                    font-size: 18px;
                    background: #857d56;
                    padding: 5px 8px;
                    border-radius: 5px;
                    color: #ffffff;
                    height: 32px;
                }
                .middle-price-txt {
                    font-size: 16px;
                    border: 1px solid #857d56;
                    color: #857d56;
                    font-weight: bold;
                    padding: 3px 10px;
                    height: 25px;
                    margin-top: 4px;
                    border-radius: 5px;
                }
                .other-price-txt {
                    font-size: 13px;
                }
            }

            .bottom-detail-container {
                padding: 10px 0;
                .detail-title {
                    display: inline;
                    border-bottom: 2px solid #867b5e;
                    font-size: 20px;
                    font-weight: 500;
                    color: #867b5e;
                }

                .detail-data {
                    border-top: 2px solid rgba(0,0,0,0.2);
                    color: #a7a7a7;
                    
                    .detail-data-1 {
                        display: flex;
                        justify-content: space-between;
                        padding: 8px 0;
                        border-bottom: 1px solid rgba(0,0,0,0.2);
                        font-size: 15px;
                        font-weight: 500;
                    }

                    .detail-data-2 {
                        display: flex;
                        justify-content: space-around;
                        padding: 8px 0;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }

                .detail-block-top {
                    border-top: 2px solid rgba(0,0,0,0.2);
                }

                .detail-data-block-2 {
                    border-top: 0.5px solid rgba(185,185,185,0.2);
                    color: #a7a7a7;
                    display: flex;
                    justify-content: space-between;
                    // padding-top: 8px;
                    font-size: 12px;
                    font-weight: bold;

                    .detail-left {
                        width: 65%
                    }
                    .detail-right {
                        width: 35%;

                        .text-input-md {
                            margin: 5px;
                        }

                        .fitler-input {
                            border: 1px solid;
                            border-radius: 5px;
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }  
}
