page-diamond-detail {
    ion-buttons button {
        background: transparent;
    }

    button.share-btn {
        color    : #baaf84;
        font-size: 22px;
    }

    .item-md,
    .item-ios {
        padding-left: 0px;
    }

    .edit-fields {
        text-decoration: underline;
        color: #0000ff;
    }

    .bottom-container {
        background-color: #ffffff;
        padding: 1px 10px;

        .bottom-top-container {
            display: flex;
            justify-content: space-between;
            margin: 15px 0;

            .price-txt {
                font-size: 15px;
                background: #857d56;
                padding: 8px 5px;
                border-radius: 5px;
                color: #ffffff;
                height: 32px;
            }
            .middle-price-txt {
                font-size: 13px;
                border: 1px solid #857d56;
                color: #857d56;
                font-weight: bold;
                padding: 1px 7px;
                height: 20px;
                margin-top: 4px;
                border-radius: 5px;
            }
            .other-price-txt {
                font-size: 11px;
            }
        }

        .bottom-detail-container {
            padding: 10px 0;
            .detail-title {
                display: inline;
                border-bottom: 2px solid #867b5e;
                font-size: 20px;
                font-weight: 500;
                color: #867b5e;
            }

            .detail-data {
                border-top: 2px solid rgba(0,0,0,0.2);
                color: #8d8d8d;

                .detail-data-1 {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 0;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    font-size: 15px;
                    font-weight: 500;
                }

                .detail-data-2 {
                    display: flex;
                    justify-content: space-around;
                    padding: 8px 0;
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .detail-block-top {
                border-top: 2px solid rgba(0,0,0,0.2);
            }

            .detail-data-block-2 {
                border-top: 0.5px solid rgba(185,185,185,0.2);
                color: #a7a7a7;
                display: flex;
                justify-content: space-between;
                // padding-top: 8px;
                font-size: 12px;
                font-weight: bold;

                .detail-left {
                    width: 50%
                }
                .detail-right {
                    width: 50%;

                    .text-input-md, .text-input-ios {
                        margin: 5px;
                    }

                    .fitler-input {
                        border: 1px solid;
                        border-radius: 5px;
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .ni-sliders {
        text-align   : center;
        display      : block;
        width        : 97%;
        background   : #fff;
        padding      : 10px;
        border-radius: 3px;
        margin       : 1.5%;
        box-shadow   : 0 0 7px 0px #ddd;
        height       : 100%;
    }


    .slide-title {
        margin-top: 2.8rem;
    }

    .slide-image {
        max-height: 100%;
        max-width : 100%;
        margin    : 18px 0;
    }

    b {
        font-weight: 500;
    }

    p {
        padding    : 0 40px;
        font-size  : 14px;
        line-height: 1.5;
        color      : #60646B;

        b {
            color: #000000;
        }
    }

    .ni-sliders {
        height: auto !important;

    }

    .ni-slide {
        width    : auto;
        max-width: 100% !important;
        margin   : 0px;
    }

    .swiper-pagination-bullet-active {
        background: color($colors, primary);
        opacity   : 1;
    }

    .item-left {
        float       : left;
        color       : color($colors, light);
        padding-left: 10px;
        width       : 48%;
    }

    .item-right {
        float       : right;
        margin-right: 13px;
        width       : 48%;
        text-align  : right;
        white-space : normal;
        line-height : 17px;
    }

    .filter-button {
        position: fixed;
        bottom  : 0px;
        width   : 100%;
        z-index : 99999;
        margin  : 0px;
        padding : 0px;

    }

    .filter-button .button-full-md,
    .filter-button .button-full-ios {

        float       : left;
        width       : 25%;
        border-right: 1px solid #fff;
    }

    .details-status {
        width     : 100%;
        text-align: center;
        height    : 35px;
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
        margin-top: 2%;

    }

    .details-status span.button-inner {

        display   : block;
        margin-top: 13px;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        display: none;
    }


    .button-clear-md,
    .button-clear-ios {
        border-color      : transparent;
        color             : #fff;
        background-color  : transparent;
        -webkit-box-shadow: none;
        box-shadow        : none;
        opacity           : 1;
        width             : 32%;
        border-right      : 1px solid #fff;
        font-size         : 12px;
        letter-spacing    : 0.5px;
        padding           : 0;
    }

    .button-clear-md:last-child,
    .button-clear-ios:last-child {
        border-right: 0px solid #fff !important;
    }

    ion-title {
        text-align: center;
    }

    .fitler-input {
        .text-input {
            border: 1px solid color($colors,border);  
            background-color: fff;
            width: 90%;      
            padding: 10px;
            margin-left: 10px; 
            text-align: center;
            color:color($colors,dark);  
            border-radius: 5px;
        }
        
       
     }

    .inquiry-form .alert-wrapper {
        min-width : 340px !important;
        min-height: 500px;
    }

    .alert-md.inquiry-form .alert-button,
    .alert-ios.inquiry-form .alert-button {
        width: 47% !important;
    }

    .cartTotal {
        position: absolute;
        top     : 9px;
        z-index : 9999;
        color   : color($colors, primary);
        ;
        font-size  : 14px;
        left       : 13px;
        font-weight: bold;
    }

    .action-sheet-cancel {
        background: #ccc !important;
    }

    .action-sheet-md .action-sheet-group:last-child,
    .action-sheet-ios .action-sheet-group:last-child {
        padding-bottom: 0.8rem;
        background    : #ccc !important;
        text-align    : center;
    }

    .action-sheet-md .action-sheet-group:last-child .button-inner,
    .action-sheet-ios .action-sheet-group:last-child .button-inner {
        text-align: center !important;
    }

    .content-md,
    .content-ios {
        color           : #000;
        background-color: color($colors, bg);
    }

    .list-md,
    .list-ios {
        margin: 1.5%;
    }

    .label-md,
    .label-ios {
        margin: 8px 0;
    }

    .item-divider-md,
    .item-divider-ios {
        padding-left    : 0px;
        border-bottom   : 1px solid #f5f5f5;
        font-size       : 13px;
        color           : #000;
        background-color: #fff;
        letter-spacing  : 0.5px;
    }

    ion-list.list.list-md,
    ion-list.list.list-ios {
        box-shadow: 0 0 7px 0px #ddd;
    }

    .d-header {
        color    : #000;
        font-size: 15px;
    }

    .footer-col ion-col,
    ion-grid.footer-col {
        padding: 0;
    }

    ion-grid.footer-col.grid {
        background: #fff;

    }

    .scroll-content {
        // margin-bottom: 40px !important;
    }

    .btn {
        width: 100%;
    }

    .segment-md .segment-button,
    .segment-ios .segment-button {

        height: 2.2rem;

        line-height: unset;

    }

    .footer .manee-icon {
        width     : 20px;
        margin-top: 10px;
    }

    .s-all {
        position      : absolute;
        right         : 15px;
        top           : 4px;
        color         : #fff;
        text-transform: uppercase;
        font-size     : 18px;

    }

    .ios {
        .s-all {
            top           : 12px;
        }
    }

    .share-btn {
        box-shadow: none;
        background: transparent;
        // color     : #5e0101 !important;
        position  : absolute;
        top       : 20px;
        right     : 10px;
    }

    // ion-footer {
    //     bottom: 20px;
    // }
}
